<nav class="ems-navbar">

  <!-- Logo links -->
  <a href="/" class="ems-logo">
    <strong>EMS</strong>
    <span>Employee Management System</span>
  </a>

  <!-- Navigation -->
  <div class="ems-nav-links">
    <a href="#" class="ems-nav-link" [routerLink]="['/dashboard']" routerLinkActive="active-pill">Dashboard</a>
    <a href="#" class="ems-nav-link" [routerLink]="['/qualification']" routerLinkActive="active-pill">Qualifikation</a>
    <a href="#" class="ems-nav-link active" [routerLink]="['/employee']" routerLinkActive="active-pill">Mitarbeiter</a>
  </div>

  <!-- Logout -->
  <div class="ems-logout-wrapper">
    <i class="bi bi-box-arrow-right ems-logout" title="Abmelden"></i>
  </div>
</nav>
