<nav class="ems-navbar">

  <!-- Logo links -->
  <a [routerLink]="['/dashboard']" class="ems-logo">
    <strong>EMS</strong>
    <span>Employee Management System</span>
  </a>

  <!-- Navigation -->
  <div class="ems-nav-links">
    <a  class="ems-nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
    <a  class="ems-nav-link" [routerLink]="['/qualification']" routerLinkActive="active">Qualifikation</a>
    <a  class="ems-nav-link" [routerLink]="['/employee']" routerLinkActive="active">Mitarbeiter</a>
  </div>

  <!-- Logout -->
  <div class="ems-logout-wrapper">
    <i class="bi bi-box-arrow-right ems-logout" title="Abmelden" (click)="openLogout()"></i>
  </div>
</nav>

@if (isLogoutVisible()) {
  <div class="modal-overlay" (click)="closeLogout()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <app-logout-window (closeEvent)="closeLogout()"></app-logout-window>
    </div>
  </div>
}
